<!--This link was inherited from 'base.html'.Next string do it-->
{% extends "students/base.html" %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

<!--Replace text-->
{% block meta_title %}
    Редагувати студента
{% endblock meta_title %}

{% block title %}
    Редагувати студента
{% endblock title %}

{% block status_message %}
  {% if errors %}
    <div class="alert alert-warning" role="alert">
        Будь ласка виправте наступнi помилки
    </div>
  {% endif %}
{% endblock %}


{% block content %}

{% crispy form %}

{% endblock content %}